server:
  port: ${SERVER_PORT:8070}

app:
  environment: ${APPLICATION_ENV}

spring:
  application:
    name: bank-accounts-system

cloud:
  aws:
    region:
      static: ${AWS_DEFAULT_REGION}
    dynamodb:
      tables:
        banking-entities:
          table-name: ${AWS_DYNAMODB_BANKING_ENTITIES_TABLE_NAME}

api:
  v1:
    bank-accounts:
      root-path: '/api/v1/bank-accounts'
      bank-account-id-path: '/api/v1/bank-accounts/{bank-account-id}'

management:
  endpoints:
    web:
      exposure:
        include: health, prometheus, metrics
  metrics:
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        http.server.requests: true
        bankAccounts.open: true
        bankAccounts.activate: true
        bankAccounts.block: true
#        cache.get: true
#        cache.put_if_absent: true
#        cache.put: true
      percentiles:
        http.server.requests: 0.5, 0.95, 0.99
        bankAccounts.open: 0.5, 0.95, 0.99
        bankAccounts.activate: 0.5, 0.95, 0.99
        bankAccounts.block: 0.5, 0.95, 0.99
#        cache.get: 0.5, 0.95, 0.99
#        cache.put_if_absent: 0.5, 0.95, 0.99
#        cache.put: 0.5, 0.95, 0.99