server:
  port: 8080

spring:
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}

    properties:
      security.protocol: SASL_SSL
      sasl.mechanism: PLAIN
      sasl.jaas.config: >
        org.apache.kafka.common.security.plain.PlainLoginModule required
        username='${KAFKA_API_KEY}'
        password='${KAFKA_API_SECRET}';

cloud:
  aws:
    region:
      static: ${AWS_DEFAULT_REGION}
    credentials:
      access-key-id: ${AWS_ACCESS_KEY_ID:test}
      secret-key: ${AWS_SECRET_ACCESS_KEY:test}
    dynamodb:
      endpoint: ${AWS_DYNAMODB_ENDPOINT}
      tables:
        banking-entities:
          table-name: ${AWS_DYNAMODB_BANKING_ENTITIES_TABLE_NAME}
