apiVersion: v1
kind: Service
metadata:
  name: bank-accounts
  namespace: prod
  labels:
    app: bank-accounts
spec:
  selector:
    app: bank-accounts
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 8080
  type: ClusterIP
